/key.fingerprint
/key.ppk.pub
/sshaccess
/src/dvda-author
/src/dvda
/libfixwav/src/libfixwav.a
/libiberty/src/libiberty.a
/libutils/src/libc_utils.a
/dvda-author-dev.pro.user
/PATCHED.DOWNLOADS
/DOWNLOADS
**aclocal.m4
**autom4te.cache
build-*
configure
local/**
**.o
**Makefile
**.Po
**.la
**.libs
**.deps
**.directory
stamp*
**ppk
**.old
**.zip
**.gz
**.bz2
**.xz


# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/
